<link rel="stylesheet" href="iziModal-master/css/iziModal.min.css">
<link rel="stylesheet" href="css/Comentario.css">
<link rel="stylesheet" href="css/MasterPage.css">
<script src="iziModal-master/js/jquery.min.js"></script>
<script src="iziModal-master/js/iziModal.min.js"></script>

<div id="modal-login" data-iziModal-fullscreen="true" data-iziModal-title="Login" data-iziModal-subtitle="Carfel"
    data-iziModal-icon="icon-home">
    <form action="/Usuario/Login" method="POST">
        <div class="campos-login">
            <input type="email" name="email" required maxlength="80" placeholder="Email">
            <input type="password" name="senha" required maxlength="50" placeholder="Senha">

            <div class="conta">
                <p>Não possui uma conta? <a href="#" data-izimodal-open="#modal-cadastro" data-izimodal-transitionin="fadeInDown"
                        data-izimodal-close="#modal">Cadastre-se aqui</a></p>
            </div>
        </div>
        <div class="bt-login">
            <div class="bt1" data-izimodal-close="">
                <button>cancelar</button>
            </div>
            <div class="bt2">
                <button type="submit">entrar</button>
            </div>
        </div>
    </form>
    <div>
        @TempData["MensagemLogin"]
    </div>
</div>