<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="iziModal-master/css/iziModal.min.css">
    <link rel="stylesheet" href="css/Comentario.css">
    <link rel="stylesheet" href="css/MasterPage.css">
    <script src="iziModal-master/js/jquery.min.js"></script>
    <script src="iziModal-master/js/iziModal.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carfel</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container-menu">
                <ul class="menu">
                    <a href="home.html" class="logo">
                        <img src="imagens/logo.png" alt="logo">
                    </a>
                    <li>
                        <a href="home.html" class="menu-itens">home</a>
                    </li>
                    <li>
                        <a href="#" class="menu-itens">nosso produto</a>
                    </li>
                    <li>
                        <a href="sobre-nos.html" class="menu-itens">sobre nós</a>
                    </li>
                    <li>
                        <a href="#" class="menu-itens">o que fazemos</a>
                    </li>
                    <li>
                        <a href="#" class="menu-itens">planos</a>
                    </li>
                    <li>
                        <a href="FAQ.html" class="menu-itens">FAQ</a>
                    </li>
                    <li>
                        <a href="contato.html" class="menu-itens">contato</a>
                    </li>
                    <li class="bt-login-ul">
                        <button class="login" data-izimodal-open="#modal-login" data-izimodal-transitionin="fadeInDown">Login</button>
                    </li>
                </ul>
            </div>
        </nav>
        <form action="/Usuario/Login" method="POST">
            <div id="modal-login" data-iziModal-fullscreen="true" data-iziModal-title="Login" data-iziModal-subtitle="Carfel"
                data-iziModal-icon="icon-home">
                <div class="campos-login">
                    <input type="email" name="email" required maxlength="80" placeholder="Email">
                    <input type="password" name="senha" required maxlength="50" placeholder="Senha">

                    <div class="conta">
                        <p>Não possui uma conta? <a href="#" data-izimodal-open="#modal-cadastro"
                                data-izimodal-transitionin="fadeInDown" data-izimodal-close="#modal">Cadastre-se aqui</a></p>
                    </div>
                </div>
                
                <div class="bt-login">
                    <div class="bt1" data-izimodal-close="">
                        <button>cancelar</button>
                    </div>
                    <div class="bt2">
                        <button type="submit">entrar</button>
                    </div>
                </div>
           </div>
        </form>
        <form action="Usuario/MasterPage" method="POST">
            <div id="modal-cadastro" data-iziModal-fullscreen="true" data-iziModal-title="Cadastro"
                data-iziModal-subtitle="Carfel" data-iziModal-icon="icon-home">
                <div class="campos-cadastro">
                    <input type="text" name="nome" placeholder="Nome">
                    <input type="text" name="email" placeholder="Email">
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <div class="bt-cadastro">
                    <button class="bt3" data-izimodal-transitionin="fadeInDown" data-izimodal-close="">cancelar</button>
                    <button class="bt4" type="submit">cadastrar</button>
                </div>
            </div>
        </form>
    </header>
    <main>
        <div class="container">
            <div class="banner">
                <img src="imagens/banner.png" alt="banner">
            </div>
            <div class="name">
                <h1>Carfel</h1>
                <br>
            </div>
            <div class="slogan">
                <span class="slogan1">Tornando Sua Empresa Melhor</span>
                <br>
                <br>
                <span class="slogan2">Lorem ipsum, dolores sit amet
                    <br>consectetur adipisicing ena elit.</span>
            </div>
            <div class="inicie link1">
                <a href="#" data-izimodal-open="#modal-cadastro" data-izimodal-transitionin="fadeInDown">inicie
                    gratuitamente</a>
            </div>
            <div class="bola-rosa"></div>
            <div class="bola-verde"></div>
            <div class="bola-amarela"></div>
            <div class="bola-azul"></div>
            <hr>
            <span class="frase">that's right</span>
        </div>
        <div class="container2">
            <div class="nosso-produto">
                <h2>Nosso Produto</h2>
            </div>
            <div class="sua-empresa">
                <img src="imagens/produtos1.png" alt="Sua Empresa">
                <br>
                <br>
                <h3>Sua Empresa</h3>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur dolor adipisicing elit. Id harum corrupti architecto quis,
                    qui non
                    amet consectetur.</p>
            </div>
            <div class="check-point">
                <img src="imagens/produtos2.png" alt="Check Point">
                <br>
                <br>
                <h3>Check Point</h3>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur dolor adipisicing elit. Id harum corrupti architecto quis,
                    qui non
                    amet consectetur.</p>
            </div>
            <div class="funcionarios">
                <img src="imagens/produtos3.png" alt="Funcionarios">
                <br>
                <br>
                <h3>Fucionarios</h3>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur dolor adipisicing elit. Id harum corrupti architecto quis,
                    qui non
                    amet consectetur.</p>
            </div>
            <div class="acessibilidade">
                <img src="imagens/produtos4.png" alt="Acessibilidade">
                <br>
                <br>
                <h3>Acessibilidade</h3>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur dolor adipisicing elit. Id harum corrupti architecto quis,
                    qui non
                    amet consectetur.</p>
            </div>
            <div class="recursos">
                <img src="imagens/produtos5.png" alt="Recursos">
                <br>
                <br>
                <h3>Recursos</h3>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur dolor adipisicing elit. Id harum corrupti architecto quis,
                    qui non
                    amet consectetur.</p>
            </div>
            <div class="redes-sociais">
                <img src="imagens/produtos6.png" alt="Redes Sociais">
                <br>
                <br>
                <h3>Redes Sociais</h3>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur dolor adipisicing elit. Id harum corrupti architecto quis,
                    qui non
                    amet consectetur.</p>
            </div>
            <hr>
        </div>
        <div class="container3">
            <div class="sobre-nos">
                <h2>Sobre Nós</h2>
            </div>
            <div class="sobre-nos-texto">
                <p>Lorem, ipsum dolor sit adipisicing elit. Repudiandae ipsa, itaque doloremque distinctio delectus,
                    error animi
                    ex, earum minus exercitationem similique nam id nostrum nemo. Impedit inventore sunt minima. Lorem
                    ipsum
                    dolor sit amet adipisicing elit. Neque officiis expedita itaque, perspiciatis a eaque sit amet
                    perferendis
                    nulla aliquid nulla dolor sit amet dolor sit amet adipisicing elit.</p>
            </div>
            <div class="saiba mais1 link2">
                <a href="#">Saiba Mais</a>
            </div>
            <div class="banner2">
                <img src="imagens/banner2.png" alt="Banner 2">
            </div>
            <hr>
        </div>
        <div class="container4">
            <div class="oq-fazemos">
                <h2>O Que Fazemos</h2>
            </div>
            <div class="oq-fazemos-texto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, volubus. Facilis corrupti soluta
                    explicabo
                    nemo iste doloribus odio accusantium, nul, nihil sunt aspernatur culpa asperiores dolorem fugit!
                    Illo,
                    fugit atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ea aut itaque volutum,
                    quos
                    modi voluptatibus voluptatem facilis eum dolores! Dumus corrupti consequuntur animi perspiciatis
                    perferendis
                    numquam, blanditiis libero.</p>
            </div>
            <div class="video">
                <img src="imagens/video.png" alt="Video">
            </div>
            <div class="saiba mais2 link2">
                <a href="#">Saiba mais</a>
            </div>
            <hr>
        </div>

        <div class="container6">
            <div class="dados1">

            </div>
            <div class="box-comentario">
                <h2>Comentários</h2>
                <textarea id="areaComentario" name="Comentario" placeholder="Escreva seu comentário aqui"></textarea>
                <div class="
                    botao">
                    <button class="botao1" type="submit">
                        Comentar
                    </button>
                    <button>
                        Cancelar
                    </button>

                </div>
            </div>
        </div>
    </main>

    <footer>
        <hr>
        <div class="rodape">
            <div class="logo2">
                <a href="home.html" class="logo2">
                    <img src="imagens/logo.png" alt="logo">
                </a>
            </div>
            <div class="lorem">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero tenetur beatae, optio suscipit
                    inventore
                    facilis reiciendis losam facere minus, harum maiores enim minus facilis reiciendis losam nullen.</p>
            </div>
            <div class="fale-conosco">
                <a href="contato.html">Fale Conosco</a>
                <a href="contato.html"><i class="fas fa-comments"></i></a>
            </div>
            <div class="lista">
                <ul class="lista">
                    <li>
                        <a href="#" class="rodape-itens">home</a>
                    </li>
                    <li>
                        <a href="#" class="rodape-itens">nosso produto</a>
                    </li>
                    <li>
                        <a href="#" class="rodape-itens">sobre nós</a>
                    </li>
                    <li>
                        <a href="#" class="rodape-itens">o que fazemos</a>
                    </li>
                    <li>
                        <a href="#" class="rodape-itens">planos</a>
                    </li>
                    <li>
                        <a href="#" class="rodape-itens">FAQ</a>
                    </li>
                    <li>
                        <a href="#" class="rodape-itens">contato</a>
                    </li>
                </ul>
            </div>
            <div class="endereco">
                <h3>Endereço</h3>
                <br>
                <i class="fas fa-map-marker-alt"></i>
                Al. Barão de Limeira, 539
                <br> Santa Cecília, São Paulo
                <br> SP - CEP: 01202-001
                <br>
                <br>
                <i class="fas fa-envelope"></i>
                carfel.contato@gmail.com
                <br>
                <br>
                <i class="fas fa-phone"></i>
                +55 (11) 2783.8725
                <br>
                <br>
                <div class="redes-sociais2">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="image">
                <img src="imagens/rodape.png" alt="">
            </div>
            <hr>
        </div>
    </footer>

    <script>
        $("#modal-login").iziModal();
        $("#modal-cadastro").iziModal();

        var areaComentario = document.getElementById("areaComentario");

        areaComentario.onfocus = () => {
            if (areaComentario.innerText.length == 0) {
                areaComentario.removeAttribute("placeholder");
            }
        };

        areaComentario.onblur = () => {
            if (areaComentario.innerText.length == 0) {
                areaComentario.setAttribute("placeholder", "Escreva o comentário aqui");
            }
        }
    </script>
</body>

<!-- <div id="container5">
            <div class="quadros">
                <div class="planos gratuito">
                    <h2 class="planos1">Plano Gratuito</h2>
                    <h3 class="preco1">FREE</h3>
                    <div class="desc">
                        <span class="desc">1 empresa cadastrada</span>
                        <span class="desc">Lorem ipsum</span>
                    </div>
                </div>
                <div class="planos premium">
                    <h2 class="planos2">Plano Premium</h2>
                    <div class="preco">
                        <span class="cifrao">R$</span>
                        <h3 class="preco2">59,90</h3>
                        <span class="mes">/mês</span>
                        <div class="desc">
                            <span class="desc1">5 empresas cadastrada</span>
                            <span class="desc1">Assistência 24 horas</span>
                        </div>
                    </div>
                </div>
                <div class="planos platinum">
                    <h2 class="planos1">Plano Platinum</h2>
                    <div class="preco">
                        <span class="cifrao">R$</span>
                        <h3 class="preco1">99,90</h3>
                        <span class="mes">/mês</span>
                        <div class="desc">
                            <span class="desc">Empresas ilimitadas</span>
                            <span class="desc">Lorem ipsum dual</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div> -->

</html>