@using Projeto.Carfel.Comentarios.Models;
@{
    Layout= "MasterPageUsuario";
}
<h3>Listagem de usuários</h3>

@TempData["Mensagem"]

<table>
    <thead>
        <tr>
            <td>Nome</td>
            <td>E-mail</td>
        </tr>
    </thead>
    <tbody>
        @foreach(UsuarioModel usuario in ViewData["Usuarios"] as List<UsuarioModel>)
        {
            <tr>
                <td>
                    @usuario.Nome
                </td>
                <td>
                    @usuario.Email
                </td>
                <td>
                    <a href="/Usuario/Excluir?id=@usuario.ID">Excluir</a>
                    <a href="/Usuario/Editar?id=@usuario.ID">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* @UsuarioModel razor *@

<select>
    @foreach (UsuarioModel usuario in ViewData["Usuarios"] as List<UsuarioModel>)
    {
        <option>
            @usuario.Nome
        </option>
    }
</select>